<table class="table table-stripped">
  <thead>
    <th><%= t "id" %></th>
    <th><%= t "title" %></th>
    <th><%= t "content" %></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @posts.each do |shoe| %>
    <tr>
      <td><%= shoe.id %></td>
      <td><%= shoe.title %></td>
      <td><%= shoe.content %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
